{% extends 'base.html' %}

{% block lab %}Лабораторная работа 3{% endblock %}

{% block main %}
    <h1>Cookies</h1>

    <form method="post">
        <div>
            <label for="color">Выберите цвет текста:</label>
            <input type="color" id="color" name="color" value="{{ color or '' }}">
        </div>
        <div>
            <label for="bg_color">Выберите цвет фона:</label>
            <input type="color" id="bg_color" name="bg_color" value="{{ bg_color or '#ffffff' }}">
        </div>
        <div>
            <label for="font_size">Выберите размер шрифта:</label>
            <input type="number" id="font_size" name="font_size" value="{{ font_size or '16' }}"> px
        </div>
        <div>
            <label for="font_style">Выберите стиль шрифта:</label>
            <select id="font_style" name="font_style">
                <option value="normal" {% if font_style == 'normal' %} selected {% endif %}>Обычный</option>
                <option value="italic" {% if font_style == 'italic' %} selected {% endif %}>Курсив</option>
                <option value="bold" {% if font_style == 'bold' %} selected {% endif %}>Жирный</option>
            </select>
        </div>
        <div>
            <button type="submit">OK</button>
        </div>
        <div>
            <a href="/lab3/clear_cookies">Очистка</a>
        </div>
    </form>
{% endblock %}