{% extends "base.html" %}

{% block lab %}Лабораторная работа 5{% endblock %}

{% block main %}
    <h1>Создание статьи</h1>

    {% if error %}
        <div style="color: red;">
            {{ error }}
        </div>
    {% endif %}
    <form method="POST">
        <div>
            <label for="title">Название статьи:</label>
            <input type="text" name="title" id="title" required>    
        </div>
        
        <div>
            <label for="article_text">Текст статьи:</label>
            <p>
                <textarea name="article_text" id="article_text" required></textarea>
            </p>  
        </div>

        <div>
            <label for="is_favourate">Избранная:</label>
            <input type="checkbox" name="is_favourate" id="is_favourate">
        </div>

        <div>
            <label for="is_public">Публичная:</label>
            <input type="checkbox" name="is_public" id="is_public">
        </div>

        <div>
            <button type="submit">Создать статью</button>
        </div>
    </form>
{% endblock %}