{% extends 'base.html' %}

{% block lab %}Лабораторная работа 5{% endblock %}

{% block main %}
    <h1>Редактирование статьи</h1>
    {% if error %}
        <div style="color: red;">{{ error }}</div>
    {% endif %}
    <form method="post">
        <div>
            <label>
                Название статьи:
                <input type="text" maxlength="50" name="title" value="{{ article['title'] }}">
            </label>
        </div>

        <div>
            <label for="is_public">Публичная:</label>
            <input type="checkbox" name="is_public" id="is_public" {% if article.is_public %}checked{% endif %}>
        </div>

        <div>
            <label for="is_favourate">Избранная:</label>
            <input type="checkbox" name="is_favourate" id="is_favourate" {% if article.is_favourate %}checked{% endif %}>
        </div>

        <div>
            <button type="submit">Сохранить изменения</button>
        </div>
    </form>
{% endblock %}