body {
    background-color: ivory;
    color: tan;
    font-family: Arial;
    margin: 0px;
}

main {
    margin-bottom: 40px;
    padding: 10px;
}
footer {
    background-color: beige;
    color: tan;
    font-family: Arial;
    margin: 0px;
    padding: 10px;
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
}

header {
    background-color: beige;
    color: tan;
    font-family: Arial;
    margin: 0px;
}

.error {
    color: red;
    font-weight: bold;
    margin-left: 5px;
}