{% extends 'base.html' %}

{% block lab %}Лабораторная работа 7{% endblock %}

{% block script %}
<script src="{{url_for('static', filename='lab7/main.js')}}"></script>
<style>
th, td { 
    border: 1px solid #5B3A29;
    padding: 8px; 
    text-align: center; 
}

table {
    width: 50%;
}

th { 
    background-color: #5B3A29; 
} 

button { 
    padding: 10px 20px; 
    background-color: #5B3A29; 
    color: white; 
    border: none; 
    border-radius: 4px;
    cursor: pointer; 
    margin-left: 10px;
}

button:hover { 
    background-color:  tan; 
}

.modal {
    display: none;
    z-index: 100;
    box-shadow: 3px 3px 5px black;
    background: white;
    width: 400px;
    left: 50%;
    top: 220px;
    margin-left: -200px;
    position: absolute;
    padding: 20px;
    font-weight: bold;
}

.modal input, .modal textarea {
    width: 100%;
    padding: 8px;
    border: 1px solid #5B3A29;
    border-radius: 4px;
    margin-bottom: 10px; 
}

.modal label {
    margin-right: 15px;
    display: block;      
}

.modal button {
    padding: 8px 16px;
    background-color: #5B3A29;
    color: white;
    border-radius: 4px;
    cursor: pointer;
}

.modal button:hover {
    background-color: tan;
}

.error-message {
    color: red
}
</style>
{% endblock %}

{% block main %}
    <h1>Список фильмов</h1>

    <table>
        <thead>
            <tr>
                <th colspan ="2">Название</th>
                <th>Год</th>
                <th>Дейсвтие</th>
            </tr>
        </thead>
        <tbody id="film-list"></tbody>
    </table>

    <script>
        fillFilmList();
    </script>

    <div>
        <button onclick="addFilm()">Добавить фильм</button>
    </div>
    
    <div class="modal">
        <input type="hidden" id="id">
        <label>
            Название фильма на русском:
            <input type="text" id="title_ru">
            <div id="title_ru-error" class="error-message"></div>
        </label><br>

        <label>
            Название фильма на оригинальном языке
            <i>(если фильм русский, оставьте поле пустым):</i>
            <input type="text" id="title">
            <div id="title-error" class = "error-message"></div>
        </label><br>

        <label>
            Год выпуска:
            <input type="number" id="year">
            <div id="year-error" class = "error-message"></div>
        </label><br>

        <label>
            Описание:
            <textarea id="description"></textarea>
            <div id="description-error" class="error-message"></div>
        </label><br>

        <button onclick="sendFilm()">ОК</button>
        <button onclick="cancel()">Отмена</button>

    </div>
{% endblock %}